openapi: 3.1.0
info:
  title: Lute Public API
  version: "1.0.0"
  description: |
    Programmatic access to Lute runs and webhooks. All endpoints require an
    API key sent as `Authorization: Bearer lute_sk_...`.
  contact:
    name: Lute
    url: https://lute.app
servers:
  - url: https://api.lute.app/api/public/v1
    description: Production
  - url: http://localhost:8080/api/public/v1
    description: Local development
tags:
  - name: Runs
    description: Create, inspect, retry, and cancel runs on your workers.
security:
  - bearerAuth: []
paths:
  /runs:
    post:
      tags: [Runs]
      summary: Create a run
      operationId: createRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRunRequest"
      responses:
        "201":
          description: Run created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRunResponse"
        "200":
          description: Idempotent replay — a run with the same idempotency key already exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Runs]
      summary: List your runs
      operationId: listRuns
      parameters:
        - in: query
          name: queue
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string }
        - in: query
          name: offset
          schema: { type: integer, default: 0, minimum: 0 }
        - in: query
          name: limit
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRunsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /runs/{id}:
    parameters:
      - $ref: "#/components/parameters/RunId"
    get:
      tags: [Runs]
      summary: Get a run
      operationId: getRun
      responses:
        "200":
          description: Current state of the run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Runs]
      summary: Cancel a pending run
      operationId: cancelRun
      responses:
        "200":
          description: Run cancelled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "400":
          description: The run is not in a state that can be cancelled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /runs/{id}/retry:
    parameters:
      - $ref: "#/components/parameters/RunId"
    post:
      tags: [Runs]
      summary: Retry a finished run
      operationId: retryRun
      responses:
        "200":
          description: Run re-enqueued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Run"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /runs/{id}/logs:
    parameters:
      - $ref: "#/components/parameters/RunId"
    get:
      tags: [Runs]
      summary: Read run logs
      operationId: getRunLogs
      parameters:
        - in: query
          name: direction
          schema:
            type: string
            enum: [head, tail]
            default: tail
        - in: query
          name: limit
          schema: { type: integer, default: 200, minimum: 1, maximum: 500 }
      responses:
        "200":
          description: A chunk of log lines.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunLogs"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: lute_sk_...
  parameters:
    RunId:
      in: path
      name: id
      required: true
      schema: { type: string }
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: The resource does not exist or is not owned by this API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    CreateRunRequest:
      type: object
      required: [queue, type]
      properties:
        queue:
          type: string
          description: Queue name the run is placed on.
        type:
          type: string
          description: Job type understood by your worker runtime.
        payload:
          description: Arbitrary JSON payload forwarded to the worker.
        priority:
          type: number
          format: double
        delay_ms:
          type: integer
          format: int64
          minimum: 0
        max_retries:
          type: integer
          minimum: 0
        timeout_sec:
          type: integer
          minimum: 1
        idempotency_key:
          type: string
          description: Repeating a request with the same key returns the original run.
        webhook:
          $ref: "#/components/schemas/WebhookConfig"
    WebhookConfig:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        secret:
          type: string
          description: Optional — when omitted, the server generates one and returns it in `webhook_secret`.
        events:
          type: array
          items:
            type: string
            enum: [run.started, run.completed, run.failed]
    Run:
      type: object
      properties:
        id: { type: string }
        queue: { type: string }
        type: { type: string }
        status:
          type: string
          enum: [pending, running, done, dead, unknown]
        attempts: { type: integer }
        max_retries: { type: integer }
        timeout_sec: { type: integer }
        error: { type: string }
        worker_id: { type: string }
        idempotency_key: { type: string }
        webhook_url: { type: string }
        webhook_events:
          type: array
          items: { type: string }
        enqueued_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time }
        elapsed_ms: { type: integer, format: int64 }
    CreateRunResponse:
      allOf:
        - $ref: "#/components/schemas/Run"
        - type: object
          properties:
            webhook_secret:
              type: string
              description: Returned exactly once when Lute generated the secret for you.
    ListRunsResponse:
      type: object
      properties:
        runs:
          type: array
          items: { $ref: "#/components/schemas/Run" }
        total: { type: integer, format: int64 }
        offset: { type: integer, format: int64 }
        limit: { type: integer, format: int64 }
    RunLogs:
      type: object
      properties:
        lines:
          type: array
          items: { type: string }
        direction:
          type: string
          enum: [head, tail]
        has_more: { type: boolean }
        file_size: { type: integer, format: int64 }
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
